---
import Base from '../layouts/Base.astro';
import { getCollection } from 'astro:content';

const posts = await getCollection('blog');
posts.sort((a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf());
const recentPosts = posts.slice(0, 5);
---
<Base title="首页 - 我的博客">
  <h1>你好</h1>
  <p>欢迎来到我的个人博客。</p>
  <p>这里记录着我的学习笔记、技术分享和生活感想。</p>

  <h2>最新文章</h2>
  <ul>
    {recentPosts.map((post) => (
      <li><a href={`/blog/${post.id.replace(/\.mdx?$/, '')}`}>{post.data.title}</a></li>
    ))}
  </ul>
</Base>
